html {
    height: 100%;
}
body {
    position: relative;
    min-height: 100%;
}
#wrap {
    padding-bottom: 100px;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.h2.line {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 5px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.carousel {
    overflow: hidden;
}
.bg-custom-home h1 {
    font-size: 2.8em;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    text-transform: none;
}
#top {
    line-height: 36px;
}
footer .social-networks {
    display: inline-block;
}
#top .row {
    margin-right: 0;
}
#top .row>div:last-child {
    padding: 0;
}
#top a {
     color: #FFF;
}
#top a:hover {
    color: #FFF;
    text-decoration: none;
    background: #8e84a8;
}
#top span,
#top a {
    display: inline-block;
    padding: 0 10px;
    white-space: nowrap;
}
#lang span,
#lang a {
    padding: 0;
    display: block;
    text-align: center;
}
#lang .visible-xs-block,
#lang .visible-sm-block {
    text-transform: uppercase;
}
#langs {
    display: inline-block;
    width: 50%;
}
#current-lang {
    font-weight: bold;
    background: #5a4983;
    display: inline-block;
    width: 50%;
}
.footer-secondary {
    padding: 1.5em 0;
}
.social-networks li {
    margin: 0 .2em 0 0;
}
.footer-secondary .copy {
    line-height: 43px;
}
.thumbnail>img, .thumbnail>a img, .overlay-container>img {
    width: 100%;
}
.thumbnail {
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    margin-bottom: 30px;
}
.wrapper-md {
    padding: 3em 0;
}
.thumbnail-meta .fa-eur {
    font-size: 17px;
}
.list-view .summary {
    margin: 0 0 10px 17px;
}
.fromto div:first-child {
    padding-right: 0;
}
.fromto div:last-child {
     padding-left: 0;
}
.btn {
    font-weight: normal;
}
.navbar .navbar-toggle {
    margin-top: 8px;
}
.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    height: 55px;
}
.navbar .navbar-nav>li>a {
    line-height: 20px;
}
.navbar-default {
    border: 0;
}
section.post {
    border-top: 1px solid #DDD;
    padding-top: 20px;
}
section.post h1 {
    margin-bottom: 20px;
}
.tools a {
    margin-bottom: 5px;
}
div.required label.control-label:after {
    content: " *";
    color: red;
}
.mv {
    margin: 20px 0;
}
.clear-pager {
    clear: both;
    text-align: center;
}
.bg-dark label.search,
.bg-highlight label.search{
    white-space: nowrap;
}
.bg-dark label.search a {
    color: #FFF;
}
.bg-dark label.search a,
.bg-highlight label.search a{
    font-size: 13px;
    text-decoration: underline;
}
.bg-dark label.search a:hover,
.bg-highlight label.search a:hover {
    text-decoration: none;
}
.navbar {
    overflow: hidden;
}
.property-main {
    font-size: 19px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
}
.property-contact .fa {
    font-size: 56px;
}
.property-phone {
    white-space: nowrap;
}
.property-price span {
    font-size: 30px;
    display: block;
    white-space: nowrap;
}
.property-id {
    padding-bottom: 50px;
}
.property-price {
    padding-bottom: 40px;
}
.property-contact {
    padding-bottom: 40px;
}
.property-list {
    font-size: 19px;
    margin-bottom: 30px;
}
.property-list li {
    white-space: nowrap;
}
.property-description {
    margin-bottom: 30px;
    font-size: 18px;
    text-align: justify;
}
.property-gallery .row {
    padding: 10px 0;
}
.property-gallery a {
    margin-bottom: 25px;
}
.property-gallery img {
    width: 100%;
    padding: 3px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 3px;
}

.contact-block {
    text-align: center;
    margin: 0 13% 8% 13%;
}
.contact-block .contact-box {
    font-size: 30px;
    font-weight: bold;
    padding: 2%;
    border: 2px solid #736596;
}
.contact-block i {
    font-size: 50px;
}
.contact-block h4 {
    color: #736596;
}






@media (max-width: 768px) {
    .contact-block {
        text-align: center;
        margin: 0 4% 8% 4%;
    }
    #top .container {
        padding-left: 10px;
        padding-right: 0;
    }
    .bg-custom-home h1 {
        font-size: 1.8em;
    }
    footer,
    footer .text-right {
        text-align: center;
    }
}
@media (max-width: 1200px) {
    .property-phone {
        text-align: left;
    }
    .property-contact .text-primary {
        text-align: right;
    }
}